// scss-docs-start theme-colors-variables
$white: #FFFFFF;
$base: #ebebeb;
$line: #c5c5c5;
$info: #7d7d7d;
$txt: #000000;
$primary: #2011e4;
$secondary: #110679;
// scss-docs-end theme-colors-variables
